<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678866332110-8ff3orrg4sq3201fn3tp4k2kii9bo8rb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678866332110-8ff3orrg4sq3201fn3tp4k2kii9bo8rb</string>
	<key>API_KEY</key>
	<string>AIzaSyCZTNJW03tq1JTWmy3Wyfos4r9cQBKvW10</string>
	<key>GCM_SENDER_ID</key>
	<string>678866332110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.cleh.financy.financyApp</string>
	<key>PROJECT_ID</key>
	<string>clean-dart2-login</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-dart2-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678866332110:ios:7a19014e380cc70647239f</string>
</dict>
</plist>